.light {
    --color-bg1: #f8f9fa;
    --color-bg2: #e9ecef;
    --color-fg: #495057;
}

.dark {
    --color-bg1: #343a40;
    --color-bg2: #212529;
    --color-fg: #e9ecef;
}

* {
    transition: color .2s;
    transition: background-color .2s;
}

#theme-switcher {
    position: fixed;
    bottom: 0;
    right: 0;

    width: 4rem;
    height: 4rem;
    margin: 2rem;
    z-index: 9999;

    background-color: var(--color-bg1);
    font-size: 2rem;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-bg2);
    color: var(--color-fg);
    font-family: monospace;
    text-align: center;

    user-select: none;
}

h1 {
    font-size: 2.5rem;
}

label {
    font-size: 1.25rem;
}

input, button {
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-fg);
    border-radius: 0.5rem;
    background-color: var(--color-bg2);
    color: var(--color-fg);
    font-family: inherit;
    font-size: 1.25rem;
}

input[type="submit"]:hover, button:hover {
    filter: brightness(95%);
}

input[type="submit"]:active, button:active {
    filter: brightness(90%);
}

input[type="submit"] {   
    padding: 1rem;
}

input[type="text"], input[type="password"] {
    padding: 0.25rem;
}